<div class="user-nav">
    <ul class="clear">
        <li style="float: left"><a href="/">生活百科</a></li>
        <li>
            <!--<a href="#" class="btn btn-info j-login" data-toggle="modal" data-target="#myModal">登录</a>-->
            {% if user is not None %}
            <a class="user-header-ctn" href="/user/{{user['id']}}" style="color: #fff;font-size: 16px;">
                <img class="user-header-image"
                     src="{{user['avatar']}}">
                {{user["username"]}}
            </a>
            <a href="/modify" style="margin-left: 10px;color: #fff;font-size: 16px;">设置</a>
            {%else%}
            <a href="/login" class="btn btn-info j-login">登录</a>
            <a href="/register" class="btn btn-info j-register">注册</a>
            {%end%}
        </li>
    </ul>
</div>