<header id="header">
    <div class="hd-user">
        <div>
            <!--<a href="#" class="btn btn-info j-login" data-toggle="modal" data-target="#myModal">登录</a>-->
            {% if user is not None %}
            欢迎你，<a href="/user/{{user['id']}}" style="margin-right: 10px;">{{user["username"]}}</a>

            <form action="/logout" method="post" style="display: inline;">
                {% raw xsrf_form_html() %}
                <input type="submit" class="btn btn-info j-logout" style="border-radius: 0" value="退出">
            </form>
            {%else%}
            <a href="/login" class="btn btn-info j-login">登录</a>
            <a href="/register" class="btn btn-info j-register">注册</a>
            {%end%}
        </div>
    </div>
    <div class="hd-logo"><strong>生活百科</strong>，每一个人的生活，都是一部百科全书</div>
</header>