<script type="text/javascript" src="{{static_url('lib/jquery-2.1.1.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('lib/jquery.cookie.js')}}"></script>
<script type="text/javascript" src="{{static_url('lib/bootstrap/js/bootstrap.js')}}"></script>