<style type="text/css">
    .focus {
        float: right;
        color: #aaa;
        font-size: 14px;
        display: inline-block;
        zoom: 1;
        height: 40px;
        line-height: 40px;
    }
</style>

<div class="live">
    <h4>
        <a href="/user/{{live_view['ref_user']}}">
            <img class="user-image" src="{{live_view['avatar']}}">{{live_view['username']}}
        </a>
        {% if user and user["id"] == live_view["ref_user"]%}
            <a href="javascript:;" class="focus j-delete" data-id="{{live_view['id']}}">删除</a>
        {%end%}
    </h4>

    <p>{{live_view["message"]}}</p>

    <p>
        {% if live_view["image"] is not None%}
        <a href="/live/{{live_view['id']}}">
            <img class="live-image" src="{{live_view['image']}}">
        </a>
        {%end%}
    </p>

    <p style="margin-top: 20px">
        <a class="good" data-id="{{live_view['id']}}" href="javascript:;">有用</a>
        (<span class="count-good">{{live_view["good_count"]}}</span>)
        <a class="bad" data-id="{{live_view['id']}}" href="javascript:;">拍砖</a>
        (<span class="count-bad">{{live_view["bad_count"]}}</span>)
        <a class="response" href="/live/{{live_view['id']}}">回复</a>
        (<span class="count-response">{{live_view["comment_count"]}}</span>)
    </p>
</div>