/*info-left & info-right*/
.info-left, .info-right {

}

.info-left {
    float: left;
    width: 36%;
    line-height: 100px;
    text-align: center;
}

.info-image-ctn{
    padding: 20px 0;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.info-info{
    background-color: #fff;
    padding-bottom: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.info-name,.info-relationship{
    height: 50px;
    line-height: 50px;
}

.info-right {
    float: right;
    width: 62%;
    box-sizing: border-box;
    border-radius: 3px;
}

.info-title{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.info-title > li{
    float: left;
    width: 33.3333%;
    text-align: center;
}

.info-title > li > a{
    display: block;
}
.info-title-active{
    background-color: #dedede;
}

.live {
    margin-bottom: 20px;
}

.info-image {
    width: 100px;
    border-radius: 50px;
}