/*header*/
body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #ece5d8;
}

#header {
}

#header .hd-user {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#header .hd-user > div {
    position: absolute;
    right: 0;
    top: 0;
}

#header .hd-user > div > a {
    border-radius: 0 !important;
}

#header .hd-logo {
    width: 1000px;
    margin: 0 auto;
    height: 120px;
    line-height: 120px;
    font-size: 16px;
}

#header .hd-logo > strong {
    font-size: 40px;
}

.hd-nav, .user-nav {
    width: 100%;
    background-color: #428bca;
}

.hd-nav > ul {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.hd-nav > ul > li {
    float: left;
}

.hd-nav > ul > li > a {
    height: 40px;
    line-height: 40px;
    font-size: 21px;
    padding: 0 25px;
    color: #fff;
}

.hd-nav > ul > li.hd-nav-active {
    background-color: #5bc0de;
}

.user-nav ul{
width: 1000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.user-nav > ul > li {
    float: right;
}

.user-nav > ul > li > a {
    height: 40px;
    line-height: 40px;
    font-size: 21px;
    color: #fff;
}

.user-header-image{
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
}
.user-header-ctn{

}

/*content*/
#content {
    width: 1000px;
    margin: 20px auto;
}

/*aside-left & aside-right*/
.aside-left, .aside-right {

}

.aside-left {
    float: left;
    width: 62%;
}

.aside-right {
    float: right;
    width: 36%;
}

.live, .aside-right {
    box-sizing: border-box;
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 3px;
}

.live {
    margin-bottom: 20px;
}

.user-image {
    width: 40px;
    border-radius: 20px;
    margin-right: 20px;
}

.live-image {
    max-width: 100%;
}

.bad, .response {
    margin-left: 10px;
}

/*recommend & response*/
#recommend, #response {
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 3px;
}

/*footer*/
#footer {
    width: 100%;
    background-color: #777;
}

#footer > .content {
    width: 1000px;
    margin: 0 auto;
    height: 150px;
    color:#fff;
}