<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>评论</title>
    {%include "common/css.html"%}
</head>
<body>
{%include "common/header.html"%}
{%include "common/nav.html"%}
<div id="content" class="clear">
    <div class="aside-left">
        {%include "common/live-block.html"%}
        <!--{%include "common/recommend.html"%}-->
        <div class="live" id="response-container">
            <h4 style="font-size: 20px;margin-bottom: 25px;color: #000">评论（{{live_view["comment_count"]}}）</h4>
            {%for i in range(len(comment_views))%}
            <div class="clear res">
                <div class="fl res-image">
                    <a href="/user/{{comment_views[i]['ref_user']}}">
                        <img class="user-image" src="{{comment_views[i]['avatar']}}">
                    </a>
                </div>
                <div class="fl res-content">
                    <a href="/user/{{comment_views[i]['ref_user']}}">
                        <span style="color: #2a6496">{{comment_views[i]['username']}}</span>
                    </a>

                    <div>{{comment_views[i]['response']}}</div>
                </div>
                <span class="fr res-floor" style="color: #ccc;width: 10%;">{{i+1}}楼</span>
            </div>
            <div style="text-align: right;color: #ccc;"><span>{{comment_views[i]['datetime']}}</span></div>
            <hr/>
            {%end%}

        </div>

        <div class="live">
            <textarea id="response" class="form-control live-textarea"></textarea>
            <br>
            <input id="submit" class="btn btn-success" data-id="{{live_view['id']}}" type="button" value="评论">
        </div>
    </div>
    {%include "common/aside-right.html"%}
</div>

{%include "common/footer.html"%}
{%include "common/js.html"%}

<link rel="stylesheet" type="text/css" href="{{static_url('live/live.css')}}">
<script type="text/javascript" src="{{static_url('live/live.js')}}"></script>
<script type="text/javascript" src="{{static_url('index/index.js')}}"></script>
</body>
</html>