<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{user["username"]}}修改个人信息</title>
    {%include "common/css.html"%}
    <link rel="stylesheet" type="text/css" href="{{static_url('user/user.css')}}">
</head>
<body>
{%include "common/header-user.html"%}
<div id="content" class="clear">
    <div class="info-left">
        <div class="info-image-ctn"><img class="info-image"
                                         src="{{user['avatar']}}"></div>
        <div class="info-info">
            <div class="info-name"><strong style="font-size: 20px;color: #000">{{user["username"]}}</strong>
            </div>

            <div class="info-relationship">
                <span>粉丝（{{user_view["followed_count"]}}）</span>
                <span>|</span>
                <span>关注（{{user_view["following_count"]}}）</span>
            </div>
        </div>
    </div>
    <div class="info-right">
        <div class="live">
            <h4 class="h4">修改头像</h4>
            <p>选取头像（200×200,文件大小不要超过2M）</p>

            <form action="/modify/avatar" method="post" accept="image/gif" enctype="multipart/form-data">
                {%raw xsrf_form_html()%}
                <input type="file" name="avatar" class="form-control" style="width: 50%;"><br>
                <input type="submit" class="btn btn-success" value="本地上传">
            </form>
        </div>

        <div class="live">
            <h4 class="h4">修改邮箱</h4>
            <p>当前邮箱：{{user["email"]}}</p>

            <form action="/modify/email" method="post">
                {%raw xsrf_form_html()%}
                <input type="email" name="email" class="form-control" style="width: 50%;"><br>
                <input type="submit" class="btn btn-success" value="修改绑定邮箱">
            </form>
        </div>

        <div class="live">
            <h4 class="h4">修改密码</h4>
            <form action="/modify/password" method="post">
                {%raw xsrf_form_html()%}
                <p>当前密码：</p>
                <input type="password" name="password_old" class="form-control" style="width: 50%;">
                <p>新密码：</p>
                <input type="password" name="password" class="form-control" style="width: 50%;">
                <p>重复新密码：</p>
                <input type="password" name="password_again" class="form-control" style="width: 50%;"><br>
                <input type="submit" class="btn btn-success" value="确认修改密码">
            </form>
        </div>
    </div>

</div>

{%include "common/js.html"%}
</body>
</html>