<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>投稿</title>
    {%include "common/css.html"%}
</head>
<body>
{%include "common/header.html"%}
<div class="hd-nav">
    <ul class="clear">
        <li><a href="/">热门</a></li>
        <li><a href="#">精华</a></li>
        <li><a href="#">最新</a></li>
        <li class="hd-nav-active"><a href="/submit">投稿</a></li>
    </ul>
</div>
<div id="content" class="clear">
    <div class="live-ctn clear">
        <form class="live-form" action="/submit" method="post" accept="image/gif" enctype="multipart/form-data">
            {%raw xsrf_form_html()%}
            <textarea class="form-control live-textarea" name="message"></textarea>

            <div class="live-file-ctn clear">
                <label class="fl">照片：</label><input class="fl" type="file" name="photo" style="display: inline-block">

                <div class="fr"><input type="checkbox" name="anonymous" value="true" style="margin-right: 4px">匿名投稿
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-success" value="投稿">
        </form>
        <div class="live-instruction">
            <h4>投稿须知</h4>
            <ol style="list-style: none;margin: 0;padding: 0">
                <li>1. sdfsdsdfsdsdf sdsdf sdsdfs dsdfs ds df sds df sd sd fsd s df sds dfs dsd fsd</li>
                <hr/>
                <li>2. sdfsd</li>
                <hr/>
                <li>3. sdfsd</li>
                <hr/>
            </ol>
        </div>
    </div>
</div>

{%include "common/footer.html"%}
{%include "common/js.html"%}
<link rel="stylesheet" type="text/css" href="{{static_url('live/submit.css')}}">
</body>
</html>