<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{user["username"]}}的生活百科</title>
    {%include "common/css.html"%}
    <link rel="stylesheet" type="text/css" href="{{static_url('user/user.css')}}">
</head>
<body>
{%include "common/header-user.html"%}
<div id="content" class="clear">
    <div class="info-left">
        <div class="info-image-ctn"><img class="info-image"
                                         src="{{target_user_view['avatar']}}"></div>
        <div class="info-info">
            <div class="info-name"><strong style="font-size: 20px;color: #000">{{target_user_view["username"]}}</strong>
            </div>

            <div class="info-relationship">
                <span>粉丝（{{target_user_view["followed_count"]}}）</span>
                <span>|</span>
                <span>关注（{{target_user_view["following_count"]}}）</span>
            </div>
        </div>
    </div>
    <div class="info-right">
        {%block live%}
        <ul class="info-title clear">
            <li class=""><a href="/user/{{user['id']}}">生活百科</a></li>
            {#<li class="info-title-active"><a href="/user/{{user['id']}}/comment">评论</a></li>
            <li class=""><a href="/user/{{user['id']}}/reply">@我</a></li>#}
        </ul>
        {%end%}
        {%for live_view in live_views%}
        {%include "common/live-block-without-follow.html"%}
        {%end%}
    </div>

</div>

{%include "common/js.html"%}
<script type="text/javascript" src="{{static_url('index/index.js')}}"></script>
</body>
</html>